@import './vars.scss';

html,
body,
.page,
#app {
  height: 100%;
  font-family: sans-serif;
  background: $light;
  font-size: 100%;
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2vw;
  label {
    font-size: 2rem;
  }
  input {
    margin-top: 2%;
    width: 80vw;
    height: 5vh;
    background-color: $dark;
    border: none;
    padding: 2%;
    border-radius: $rounding;
    font-size: 1.2rem;
    color: white;
    @include transition;
    @include shadow;
    opacity: 0.8;
    &:focus {
      outline: none;
      opacity: 1;
    }
  }
}

.sliderContainer {
  width: 60%;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 4vh;
  /* Specified height */
  background-image: linear-gradient(to left, $green, $yellow, $red);
  /* Grey background */
  outline: none;
  border-radius: 100pt;
  background-size: cover;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 5.3vh;
  /* Set a specific slider handle width */
  height: 5.3vh;
  border-radius: 100pt;
  background: white;
  @include shadow;
  opacity: 0.9;
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4caf50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $placeholder;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $placeholder;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $placeholder;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $placeholder;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placeholder;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $placeholder;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.red {
  color: $red;
}
.loading {
  width: 4vw;
  height: 5vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loading-bar {
  display: inline-block;
  width: 1vh;
  height: 5vh;
  border-radius: 4vh;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: $red;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #f4ae73;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #c0d476;
  animation-delay: 0.18s;
}
.loading-bar:nth-child(4) {
  background-color: $green;
  animation-delay: 0.27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  .loading__text {
    margin-top: 3vh;
    font-size: 2rem;
  }
  .result__num {
    font-size: 15vw;
    font-weight: bold;
  }
  .results__time {
    font-weight: 100;
  }
  .btn {
    border: none;
    @include shadow;
    @include transition;
    background: $green;
    color: white;
    padding: 1.5%;
    font-size: 1.2rem;
    border-radius: $rounding;
    margin-top: 5vh;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
.slider__label__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
}
